@use './reset.scss';
@use './variables.scss';

:root {
  --uc-font-size-lg: 2rem !important;
  --uc-font-size-base: 1.4rem !important;
}

.text-base {
  font-size: 1.4rem;
}

// 文字省略
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}